app:
  host: "0.0.0.0"
  port: 8000

database:
  dbms: "postgresql"
  sync_driver: "psycopg2"
  async_driver: "asyncpg"
  user: "dummy"
  password: "dummy"  # Optional
  host: "database"
  port: "5432" # Optional
  database: "auth_service"
  echo_db: false

jwt:
  secret_key: "YOUR_SUPER_SECRET_KEY"
  algorithm: "HS256"
  access_token_expire_minutes: 15
  refresh_token_expire_days: 30
